<p id="notice"><%= notice %></p>

<h1>Sp2s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sp2s.each do |sp2| %>
      <tr>
        <td><%= sp2.name %></td>
        <td><%= sp2.city %></td>
        <td><%= link_to 'Show', sp2 %></td>
        <td><%= link_to 'Edit', edit_sp2_path(sp2) %></td>
        <td><%= link_to 'Destroy', sp2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sp2', new_sp2_path %>
