<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sp2.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @sp2.city %>
</p>

<%= link_to 'Edit', edit_sp2_path(@sp2) %> |
<%= link_to 'Back', sp2s_path %>
