<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supl.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @supl.city %>
</p>

<%= link_to 'Edit', edit_supl_path(@supl) %> |
<%= link_to 'Back', supls_path %>
